:root {
    --primary-color: #9360f7;
    --secondary-color: #c0a1ff;
    --font-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section-title class styling */
.section-title {
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

/*header styling begins*/

header {
    background-color: var(--primary-color);
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    color: var(--font-color);
    font-weight: bold;
    font-style: italic;
}

header a {
    color: var(--font-color);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.5vw;
    font-weight: lighter;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--font-color);
    border-radius: 15px;
    border: 1px solid var(--font-color);
}
/*header styling ends here*/
/*initial thanks section styling starts here*/

.initial-thanks {
    background-image: url(./Images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
    background-position: center;
    padding: 20px;
    margin: 20px;

}

.initial-thanks h2 {
    border-bottom: 3px solid var(--secondary-color);
    margin: 0 auto 30px auto;
    width: 50%;
    padding: 15px;
}

/*initial thanks section styling ends*/
/*about me section styling begins*/
.introduction {
    background: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
}

.introduction h2 {
    border-bottom: 3px solid var(--font-color);
    margin: 0 auto 30px auto;
    width: 50%;
    padding: 15px;
}

.introduction p {
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-left: 70px;
    float: left;
    width: 60%;

}

.intro-img img {
    width: 15%;
    align-items: flex-end;
    float: right;
    margin-right: 110px;
    margin-bottom: 30px;
    margin-left: 0;
}

/*about me section styling ends*/
/*styling for my work section begins*/
.work-samples {
    margin-bottom: 85mm;
}

.work-samples h2{
    border-bottom: 3px solid var(--secondary-color);
    margin: 0 auto 30px auto;
    width: 50%;
    padding: 15px;
}

.run-buddy img {
    border: var(--secondary-color) solid 3px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.run-buddy h3 {
    text-align: center;
    color: var(--primary-color);
}

.smaller-samples img {
    border: solid 3px var(--secondary-color);
}

.horiseon-title {
    float: left;
    margin-right: 15%;
    margin-left: 90px;
    color: var(--primary-color);

}

.upcoming {
    float: left;
    margin-right: 20px;
    margin-left: 450px;
    color: var(--primary-color);
}


/* styling ends for my work section*/
/*contact section styling*/

.contact {
    background-image: url(./Images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
    background-position: center;
    padding: 25px;
    margin: 20px;
}

.contact h2 {
    border-bottom: 3px solid var(--secondary-color);
    margin: 0 auto 30px auto;
    width: 50%;
    padding: 15px;
}

.contact p {
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: var(--primary-color);
}

footer h3 {
    color: var(--font-color);
    width: 100%;
}

/*media query for smaller desktop screens*/
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 2.5vw;
    }
    .intro-img {
        width: 110%;
        margin-right: 150px;
    }